@page "{id:int}"
@model My.Demo.Web.Pages.Movies.AssociatePrincipalModel
@{
    ViewData["Title"] = "Associate Principal";
}


<div class="card">
    <div class="card-header">
        <h1>Associate Principal</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Movie.Title</h5>
        <div class="mt-3 bg-light">
            <h3>Principals</h3>
            <partial name="_PrincipalsView" model="@Model.Movie" />
        </div>

    </div>
</div>